font-face{
    font-family: "Roboto";
}
.Bar{
    position: fixed;
    position: static;
    font-family: "Roboto Condensed";
    width: 99%;
    height: 10%;
    padding: 0.1%;
    text-align: center;
    margin-bottom:1%;
    text-decoration: none;
    position: center;
    box-shadow: 4px 94px 300px -61px rgba(0,0,0,0.75);

}

.point{
    margin: 6vmin;
    font-size: 5vmin;
    text-align: center;
    position: center;
    text-decoration: none;
    color: #212121;
}

.box{
    display: flex;
    justify-content: center;
}
.header-style{
    text-align: center;
    margin-right: 40%;
font-family: "Roboto";
font-size: 350%;
    display: block;
    position: center;
    color: #1A1A1A;
    margin-bottom: 2%;
}
.newspage-div{
justify-content: center;
}

.img-style{
    border-radius: 3%;
    display: block;
    width: 70%;
    margin: auto;
    height: 10%;
    margin-bottom: 6%;
    position: center;
    image-resolution: from-image;
    box-shadow: 2px 9px 48px 2px rgba(0,0,0,0.31);
}
.img-style:hover
{
    box-shadow: 2px 9px 48px 2px rgba(0,0,0,0.51);
}
.img-style::after{
    background-color: black;
    width: 1000px;
    height: 1000px;
}

p{
    font-family: Roboto;
    padding-left: 20%;
    padding-right: 20%;
}
.Post-page{

    position: center;
    margin-left: 30vmin;
    justify-content: center;
}

footer{
    margin-top: 30vh;
    background-color: rgb(45, 44, 44);
    font-family: "Roboto Condensed";
    font-size: 5vh;
    color: white;
    padding-top: 4vh;
    padding-bottom: 4vh;
    text-align: center;
}

.tag{
    font-family: "Roboto Condensed";
    color: #212121;
    margin: 1vw;
    font-size: 3vh;
}
.tag-bar{
    justify-content: center;
    display: flex;
}
.Post{
    display: block;
    height: 10vh;
    width: 70vw;
    margin-bottom: 1%;
}
.point-style{
border:  1px solid rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    padding: 4px;
}
.test-class{
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    /*grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);*/
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 1.2%;
    grid-row-gap: 1.2%;
}